---
import Image from "astro/components/Image.astro";

const { imagesUrl } = Astro.props;

console.log({ imagesUrl });
---

<div class="flex flex-col gap-10 mt-14 xl:mt-44 px-9 md:px-28 xl:px-80">
  <hr class="border-t-2 border-main-yellow" />
  <h1 class="text-2xl font-bold text-center lg:pb-0 mb-14 md:mb-20">
    Галерија
  </h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 px-10 md:px-20">
  {
    imagesUrl.map((imageURL: string) => (
      <Image src={imageURL} alt="gallery" width='200' height='200' class="w-full h-80 object-cover rounded" />
    ))
  }
</div>
