---
import Image from "astro/components/Image.astro";
import Sun from "./icons/sun.svg";
---

<div class="flex flex-col items-center px-4 gap-8">
  <Image src={Sun} alt="sun" class="lg:block" loading="eager" />
  <div
    class="flex flex-col justify-center gap-8 text-lg font-medium w-full max-w-2xl"
  >
    <p>
      Даваме придонес во процесот на воспитание и образование на учениците со
      комплексни потреби.
    </p>
    <p>
      Обезбедуваме поддршка на учениците со попреченост во општинските основни
      училишта и на сите чинители вклучени во нивниот образовен процес.
    </p>
    <p>
      Го олеснуваме пристапот до образование и обука на учениците со
      попреченост.
    </p>
    <p>
      Обезбедуваме специјализирани услуги во заедницата за учениците со
      попреченост и нивните родители/старатели.
    </p>
    <p>
      Обезбедуваме поддршка за стекнување на вештини за вработување на учениците
      со попреченост.
    </p>
    <p>Обезбедуваме поддршка за независно живеење.</p>
  </div>
</div>
